* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "good_times";
  src: url(../fonts/good_times/good\ times\ rg.otf);
}
/* BODY */
body {
  background-image: linear-gradient(to bottom, #000000 0%, #FFBABA 100%);
}

header {
  font-family: "good_times";
}

ul {
  list-style-type: none;
}

h1 {
  font-family: "good_times";
  text-align: center;
  color: #8f6710;
}

h2 {
  font-family: "good_times";
  text-align: center;
  color: #8f6710;
}

h3 {
  font-family: "good_times";
  font-size: medium;
  color: #8f6710;
}

p {
  font-family: "Mukta", sans-serif;
  font-size: medium;
}

a {
  color: #8f6710;
}

.navbar-web {
  display: none;
}

.logo-nav-idex {
  width: 50%;
  height: auto;
}

.navbar-web-2 {
  display: none;
}

.nav-footer {
  display: none;
}

.texto-footer {
  text-align: center;
  padding: 10px;
}
.texto-footer p {
  margin: 0;
  font-size: small;
}
.texto-footer a {
  color: #8f6710;
  font-size: small;
}

.logo {
  display: none;
}

.texto-presentacion {
  text-align: center;
  margin: 0;
  padding: 20px;
}
.texto-presentacion p {
  margin: 0;
  color: #d1b270;
  font-size: large;
  font-weight: bolder;
}

.section-img {
  text-align: center;
}
.section-img img {
  border-radius: 10px;
}

.hr {
  margin: 30px;
}

.testimonios h2 {
  margin: 0;
  color: #d1b270;
  text-decoration: underline;
}

.cards {
  padding: 30px;
}
.cards .card {
  margin: 10px;
}
.cards .card img {
  width: 100%;
  height: 100%;
}
.cards .card .card-body {
  text-align: center;
}

.section-servicio-integral {
  text-align: center;
  padding: 30px 10px;
}
.section-servicio-integral p {
  margin: 0;
  color: #d1b270;
  font-size: large;
  font-weight: bolder;
}

.section-iconos {
  padding: 10px;
}
.section-iconos .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --bs-body-bg: none;
  border: none;
}
.section-iconos .card img {
  width: 30%;
  padding-top: 16px;
}
.section-iconos .card p {
  margin: 0;
  text-align: center;
  color: #d1b270;
  font-weight: bolder;
}

.section-img {
  padding: 10px;
}

.section-video-eventos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.section-video-eventos .video {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-layaout {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
  padding: 20px;
}
.grid-layaout .ic {
  width: 150px;
  text-align: center;
}
.grid-layaout .ic img {
  width: 50%;
}
.grid-layaout .ic p {
  margin: 0;
  color: #d1b270;
  font-size: large;
  font-weight: bold;
}

.section-img-eventos {
  text-align: center;
  margin: 30px 0;
}

.section-video-multimedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-video-multimedia .video-multimedia1, .section-video-multimedia .video-multimedia2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.section-carousel-multimedia {
  padding: 20px 10px;
}

.galeria {
  display: none;
}

.contacto-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto-main .mapa {
  padding: 10px;
}
.contacto-main .pie-mapa {
  padding: 0 10px;
  margin-bottom: 30px;
  text-align: center;
}
.contacto-main .pie-mapa p {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form .form label, .form .form input, .form .form textarea {
  display: block;
  width: 100%;
}
.form .btn {
  background-color: #8f6710;
  padding: 5px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  transition: 0.3s;
}
.form .btn:hover {
  background-color: #d1b270;
}

/* INDEX MEDIA*/
@media screen and (min-width: 780px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 950px) {
  /* HEADER */
  .navbar-mobile {
    display: none;
  }
  .hr2 {
    display: none;
  }
  .navbar-web {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar-web .nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar-web .nav-list li {
    padding: 10px;
  }
  .navbar-web .nav-list .nav-link {
    color: #d1b270;
    transition: 0.8s;
  }
  .navbar-web .nav-list .nav-link:hover {
    color: #8f6710;
  }
  /* MAIN */
  .presentacion {
    text-align: center;
    padding: 20px;
  }
  .presentacion .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .presentacion .logo img {
    width: 40%;
    padding-bottom: 20px;
  }
  .section-img {
    padding: 0;
  }
  .testimonios .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .testimonios .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.534);
  }
  .testimonios .cards .card img {
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 25px;
    padding-top: 20px;
  }
  .testimonios .cards .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .testimonios .cards .card .card-body p {
    margin: 0;
    color: #d1b270;
    font-weight: bolder;
  }
  .testimonios .cards .card .card-body h3 {
    margin: 0;
    color: #d1b270;
  }
  /* FOOTER */
  .nav-footer {
    display: block;
  }
  .nav-footer .nav-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .nav-footer .nav-list .nav-link-footer {
    color: #8f6710;
    font-family: "good_times";
    font-size: x-small;
    transition: 0.8s;
  }
  .nav-footer .nav-list .nav-link-footer:hover {
    color: black;
  }
}
/* SERVICIOS MEDIA */
@media screen and (min-width: 950px) {
  /* HEADER */
  .navbar-mobile2 {
    display: none;
  }
  .navbar-web-2 {
    display: block;
  }
  .navbar-web-2 .nav2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0 20px;
  }
  .navbar-web-2 .nav2 img {
    width: 50%;
    padding-top: 20px;
  }
  .navbar-web-2 .nav-list2 {
    padding: 0;
    margin: 0;
    display: flex;
  }
  .navbar-web-2 .nav-list2 li {
    padding: 0 10px;
  }
  .navbar-web-2 .nav-list2 li .nav-link2 {
    transition: 0.8s;
  }
  .navbar-web-2 .nav-list2 li .nav-link2:hover {
    color: #d1b270;
  }
  /* MAIN */
  .section-iconos {
    display: flex;
  }
  .section-img {
    padding: 30px;
  }
}
/* EVENTOS MEDIA */
@media screen and (min-width: 950px) {
  /* MAIN */
  .section-video-eventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-video-eventos .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-layaout {
    display: flex;
  }
}
/* MULTIMEDIA MEDIA */
@media screen and (min-width: 950px) {
  /* MAIN */
  .section-video-multimedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .section-carousel-multimedia {
    display: none;
  }
  .galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .galeria .galeria2 {
    display: flex;
    width: 1000px;
    height: 430px;
  }
  .galeria .galeria2 img {
    width: 0 !important;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.8s ease;
  }
  .galeria .galeria2 img:hover {
    width: 80% !important;
    opacity: 1;
    filter: contrast(120%);
  }
}
/* CONTACTO MEDIA */
@media screen and (min-width: 950px) {
  .contacto-main {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "left left right right";
  }
  .contacto-main .section-mapa, .contacto-main .pie-mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: left;
  }
  .section-form {
    grid-area: right;
  }
}

/*# sourceMappingURL=style.css.map */
