.nav-footer {
    display: none;
}
.texto-footer {
    text-align: center;
    padding: 10px;
    p {
        margin: 0;
        font-size: small;
    }
    a {
        color: $main-color;
        font-size: small;
    }
}
    
