.nav-footer {
    display: none;
}
.texto-footer {
    text-align: center;
    padding: 10px;
}
.texto-footer p {
    margin: 0;
    font-size: small;
}
.texto-footer a {
    color: #8f6710;
    font-size: small;
}