* { margin: 0; padding: 0; }

@font-face {
    font-family: 'good_times';
    src: url(../fonts/good_times/good\ times\ rg.otf);
}

/* BODY */
body {
    background-image: $bg-color-secondary
}
header {
    font-family: 'good_times';
}
ul {
    list-style-type: none;
}
h1 {
    font-family: 'good_times';
    text-align: center;
    color: $main-color;
}
h2 {
    font-family: 'good_times';
    text-align: center;
    color: $main-color;
}
h3 {
    font-family: 'good_times';
    font-size: medium;
    color: $main-color;
}
p {
    font-family: 'Mukta', sans-serif;
    font-size: medium;
}
a {
    color: $main-color;
}