$main-color: #8f6710;
$second-color: #d1b270;
$third-color: #FFBABA;
$four-color: black;
$bg-color-main: linear-gradient(to bottom, #FFBABA 0%, #ffffff 100%);
$bg-color-secondary: linear-gradient(to bottom, #000000 0%, #FFBABA 100%);