.contacto-main {
    @include flex (column, center, center);
    .mapa {
        padding: 10px;
    }
    .pie-mapa {
        padding: 0 10px;
        margin-bottom: 30px;
        text-align: center;
        p {
            margin: 0;
            color: $second-color
        }
    }
}
.form {
    @include flex (column, center, center);
    gap: 10px;
    .form label , .form input , .form textarea {
        display: block;
        width: 100%;
    }
    .btn {
        background-color: $main-color;
        padding: 5px 20px;
        border-radius: 8px;
        text-align: center;
        font-size: 18px;
        transition: .3s;
        &:hover {
            background-color: $second-color;
        }
    }   
}
