.section-video-eventos {
    @include flex (column, center, center);
    padding: 10px;
    .video {
        width: 100%;
        @include flex (column, center, center);
        iframe {
            width: 100%;
            transition: .3s;
            &:hover {
            -webkit-box-shadow: 1px 1px 49px -13px rgba(209,178,112,1);
            -moz-box-shadow: 1px 1px 49px -13px rgba(209,178,112,1);
            box-shadow: 1px 1px 49px -13px rgba(209,178,112,1);
            }  
        }
    }
}

.grid-layaout {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    padding: 20px;
    .ic {
        width: 150px;
        text-align: center;
        img {
            width: 50%;
        }
        p {
            margin: 0;
            color: $second-color;
            font-family: 'good_times';
        }
    } 
}