.navbar-mobile2 {
    .navbar-toggler {
        background-color: $main-color;
    }
}
.logo {
    display: none;
}
.texto-presentacion {
    text-align: center;
    margin: 0;
    padding: 20px;
    p {
        margin: 0;
        color: $second-color;
        font-size: large;
        font-weight: bolder;
    }
}
.section-img {
    text-align: center;
    img {
        width: 100%;
        border-radius: 10px;
    }
}

.hr {
    margin: 30px;
}
.testimonios h2 {
    margin: 0;
    color: $second-color;
    text-decoration: underline;
}
.cards {
    padding: 30px;
    .card {
        margin: 10px;
        --bs-card-bg: #00000075;
        img {
            width: 100%;
            height: 100%;
        }
        .card-body {
            text-align: center;
            h3 {
                color: $second-color;
            }
            p {
                color: $second-color;
                font-weight: bold;
            }
        }
    }
}

