.logo {
    display: none;
}
.texto-presentacion {
    text-align: center;
    margin: 0;
    padding: 20px;
    p {
        margin: 0;
        color: $second-color;
        font-size: large;
        font-weight: bolder;
    }
}
.section-img {
    text-align: center;
    img {
    border-radius: 10px;
    }
}

.hr {
    margin: 30px;
}
.testimonios h2 {
    margin: 0;
    color: $second-color;
    text-decoration: underline;
}
.cards {
    padding: 30px;
    .card {
        margin: 10px;
        .card-body {
            text-align: center;
        }
    }
}

