/* INDEX MEDIA*/
@media screen and (min-width: 780px) {
    .cards {
        @include flex (row, center, center);
    }
}
@media screen and (min-width: 950px) {
    /* HEADER */
    .navbar-mobile {
        display: none;
    }
    .hr2 {
        display: none;
    }
    .navbar-web {
        @include flex (row, center, center);
        .nav-list {
            margin: 0;
            padding: 0;
            @include flex (row, center, center);
            li {
                padding: 10px;
            }
            .nav-link {
                color: $main-color;
                transition: .8s;
                &:hover {
                    color: $second-color;
                }
            }  
        }     
    }
    
    /* MAIN */
    .presentacion {
        text-align: center;
        padding: 20px;
        .logo {
            @include flex (column, center, center);
            img {
                width: 40%;
                padding-bottom: 20px;
            }
        }
    }
    .section-img {
        padding: 0;
    }
    .testimonios {
        .cards {
            @include flex (row, center, flex-start);
            .card {
                @include flex (column, center, center);
                width: 400px;
                height: 450px;
                background-color: rgba(0, 0, 0, 0.534);
                img {
                    align-items: center;
                    width: 240px;
                    height: 240px;
                    border-radius: 25px;
                    padding-top: 20px;
                }
                .card-body {
                    @include flex (column, space-around, center);
                    p {
                        margin: 0;
                        color: $second-color;
                        font-weight: bolder;
                    }
                    h3{
                        margin: 0;
                        color: $second-color;
                    }
                }    
            }
        }
    }

    /* FOOTER */
    .nav-footer {
        display: block;
        .nav-list {
            padding: 0;
            @include flex (row, center, center);
            gap: 20px;
            .nav-link-footer {
                color: $main-color;
                font-family: 'good_times';
                font-size:x-small;
                transition: .8s;
                &:hover {
                    color: $four-color;
                }
            }   
        }  
    }
}

/* SERVICIOS MEDIA */
@media screen and (min-width: 950px) {
    /* HEADER */
    .navbar-mobile2 {
        display: none;
    }
    .navbar-web-2 {
        display: block;
        .nav2 {
            @include flex (row, center, flex-end);
            padding: 0 20px;
            img {
                width: 50%;
                padding-top: 20px;
            }
        }
        .nav-list2 {
            padding: 0;
            margin: 0;
            display: flex;
            li {
                padding: 0 10px;
                .nav-link2 {
                    transition: .8s;
                    &:hover {
                        color: $second-color;
                    }
                } 
            }   
        }    
    }
    

    /* MAIN */
    .section-iconos {
        display: flex;    
    }
    .section-img {
        padding: 30px;
    }
}

/* EVENTOS MEDIA */
@media screen and (min-width: 950px) {
    /* MAIN */
    .section-video-eventos {
        @include flex (column, center, center);
        .video {
            @include flex (column, center, center);
        }
    }
    .grid-layaout {
        display: flex;
    }
}

/* MULTIMEDIA MEDIA */
@media screen and (min-width: 950px) {
    /* MAIN */
    .section-video-multimedia {
        @include flex (row, center, center);
    }
    .section-carousel-multimedia {
        display: none;
    }
    .galeria {
        @include flex (column, center, center);
        margin-top: 30px;
        .galeria2 {
            display: flex;
            width: 1000px;
            height: 430px;
            img {
                width: 0! important;
                flex-grow: 1;
                object-fit: cover;
                opacity: .8;
                transition: .8s ease;
                &:hover {
                    width: 80%! important;
                    opacity: 1;
                    filter: contrast(120%);
                }
            }
        }
    }   
}

/* CONTACTO MEDIA */
@media screen and (min-width: 950px) {
    .contacto-main {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 'left left right right';
        .section-mapa , .pie-mapa {
            @include flex (column, center, center);
            grid-area: left;
        }
    } 
    .section-form {
        grid-area: right;
    }
}