/* INDEX MEDIA*/
@media screen and (min-width: 780px) {
    .cards {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .hr3 {
        display: none;
    }
}
@media screen and (min-width: 950px) {
    /* HEADER */
    .navbar-mobile {
        display: none;
    }
    .hr2 {
        display: none;
    }
    .navbar-web {
        display: flex;
        background-color: $second-color;
        justify-content: center;
        .nav-list {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            li {
                padding: 10px;
            }
            .nav-link {
                color: $main-color;
                transition: .8s;
                &:hover {
                    color: $third-color;
                }
            }  
        }     
    }
    
    /* MAIN */
    .presentacion {
        text-align: center;
        padding: 20px;
        .logo {
            display: block;
        }
    }
    .section-img {
        padding: 0;
    }

    /* FOOTER */
    .nav-footer {
        display: block;
        .nav-list {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .nav-link-footer {
                color: $main-color;
                font-family: 'good_times';
                font-size:x-small;
                transition: .8s;
                &:hover {
                    color: $third-color;
                }
            }   
        }  
    }
}

/* SERVICIOS MEDIA */
@media screen and (min-width: 950px) {
    /* HEADER */
    .navbar-mobile2 {
        display: none;
    }
    .navbar-web-2 {
        display: block;
        .nav2 {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            flex-wrap: nowrap;
            justify-content: center;
            img {
                width: 50%;
                padding-top: 20px;
            }
        }
        .nav-list2 {
            padding: 0;
            margin: 0;
            display: flex;
            li {
                padding: 0 10px;
                .nav-link2 {
                    transition: .8s;
                    &:hover {
                        color: $third-color;
                    }
                } 
            }   
        }    
    }
    

    /* MAIN */
    .section-iconos {
        display: flex;
    }
    .section-img {
        padding: 30px;
    }
}

/* EVENTOS MEDIA */
@media screen and (min-width: 950px) {
    /* MAIN */
    .section-video-eventos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video {
        display: flex;
        justify-content: center;
    }
    .grid-layaout {
        display: flex;
    }
}

/* MULTIMEDIA MEDIA */
@media screen and (min-width: 950px) {
    /* MAIN */
    .section-video-multimedia {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .section-carousel-multimedia {
        display: none;
    }
    .galeria {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .galeria2 {
        display: flex;
        width: 1000px;
        height: 430px;
    }
    .galeria2 img {
        width: 0! important;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }
    .galeria2 img:hover {
        width: 80%! important;
        opacity: 1;
        filter: contrast(120%);
    }
}

/* CONTACTO MEDIA */
@media screen and (min-width: 950px) {
    .section-mapa , .pie-mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: left;
    }
    .contacto-main {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 'left left right right';
    }
    .section-form {
        grid-area: right;
    }
}