.section-video-multimedia {
    @include flex (column, center, center);
    .video-multimedia1 , .video-multimedia2 {
        @include flex (column, center, center);
        padding: 10px;
    }
}
.section-carousel-multimedia {
    padding: 20px 10px;
}
.galeria {
    display: none;
}